psmsl/rlr_monthly/RLR_info/
psmsl/rlr_monthly/docu/
psmsl/rlr_monthly/slp64/
*.nc
*.cdf
*.lzma
*.gz
*.bz2
*.tar
*.dat
*.zip
*.m
*.png
*.jpg
*.gif
*.log
*.pyc
*.ipynb_checkpoints
*.ipynb
*.html
*.ipynb
*.rlrdata
